/* ########## CSS STYLE FOR basics.html */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}

.paragraph {
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 40px;
    width: 80%;
    background-color: antiquewhite;
    border-radius: 10px;


}

.text {
    display: inline-block;
    float: left;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 15px;
    max-width: 70%;
}

.imagediv {
    display: inline-block;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    max-width: 200px;
}

img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

/* ########## FOLLOWING CSS CODE IS THE SAME IN ALL SCRIPTS ########## */

/* ##### BASIC SETTINGS ##### */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

h1 {

    text-align: left;
    padding: 20px;
    color: #FBFBEF;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    margin-left: 30px;

}

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, sans-serif;
}

body {
    background-color: #FBFBEF;
    font-family: Arial, sans-serif;
}

a:visited {
    color: white
}

/* ##### NAVBAR STYLE *****/
nav {
    display: flex;
    flex-flow: row wrap; /*wraps as row when window small, logo not showing without*/
    flex-direction: column;
    justify-content: flex-end; /* next elemt is right next to other ones*/
    background: #181407;
    height: 80px;
    width: 100%;
}

nav ul {
    text-align: right;
    margin-right: 40px;
}

nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 0 10px;
}

nav ul li a {

    color: white;
    font-size: 17px;
    border-radius: 3px;
    margin: 0 17px;
    padding: 3px;
}

nav ul li a:hover {
    background-color: brown;
}


/* ########## FOOTER STYLE ########## */

footer {
    background: #181407;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
}

footer a {
    border-radius: 3px;
}


#footText {
    display: inline-block;
    float: right;
    margin-right: 40px;
    margin-top: 10px;
    padding: 3px; /*Padding for larger hover effect*/
}

#footText:hover {
    background-color: brown;
    border-radius: 3px;
}

