/* ########## CSS STYLE FOR INDEX.HTML ##########*/

body.mainbackground {
    background-image: url("Bilder/mainpic.png");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

#maintext {
    margin: 40px 80px; /* top botton: 40px, left right: 80px*/
}

.container{
    width: 100%;
}

.row1 {

    margin: 20px 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
}

.column1 {
    display: flex;
    flex-direction: column;

    height: 500px;
    padding: 0 20px;

    background-color: rgba(23, 43, 56, 0.75);
    border-radius: 10px;
}

.column1:hover, #column2:hover {
    background-color: rgba(23, 43, 100, 0.75);
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
    margin: 60px 40px;
}

#column2 {
    flex-direction: column;
    height: 120px;
    background-color: rgba(23, 43, 56, 0.75);
    border-radius: 10px;
    padding: 5px 25px;
    margin: 20px 20px;

}


/* list elements but only in main part*/

main li {

    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


/* ########## FOLLOWING CSS CODE IS THE SAME IN ALL SCRIPTS ########## */

/* ##### BASIC SETTINGS ##### */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

h1 {

    text-align: left;
    padding: 20px;
    color: #FBFBEF;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    margin-left: 30px;

}

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, sans-serif;
}

body {
    background-color: #FBFBEF;
    font-family: Arial, sans-serif;
    font-size: 17px;
}

a:visited {
    color: white
}

/* ##### NAVBAR STYLE *****/
nav {
    display: flex;
    flex-flow: row wrap; /*wraps as row when window small, logo not showing without*/
    flex-direction: column;
    justify-content: flex-end; /* next elemt is right next to other ones*/
    background: #181407;
    height: 80px;
    width: 100%;
}

nav ul {
    text-align: right;
    margin-right: 40px;
}

nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 0 10px;
}

nav ul li a {

    color: white;
    font-size: 17px;
    border-radius: 3px;
    margin: 0 17px;
    padding: 3px;
}

nav ul li a:hover {
    background-color: brown;
}


/* ########## FOOTER STYLE ########## */

footer {
    background: #181407;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
}

footer a {
    border-radius: 3px;
}


#footText {
    display: inline-block;
    float: right;
    margin-right: 40px;
    margin-top: 10px;
    padding: 3px; /*Padding for larger hover effect*/
}

#footText:hover {
    background-color: brown;
    border-radius: 3px;
}