* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.sourcebox {
    margin: 20px;
    width : 80%;
    border: 2px solid black;
    padding: 10px;
}

/* NAVBAR STYLE*/

h1{
    text-align: left;
    padding: 20px;
    color: blue;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
}


nav {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    justify-content: flex-end;
    background: lightseagreen;
    height: 80px;
    width: 100%;
}

nav ul {
    text-align: right;
    margin-right: 30px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {

    color: white;
    font-size: 17px;
    border-radius: 3px;
}

nav ul li a:hover {
    background-color: brown;
}

/* Flexbox styles for row1 */
.row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;

}

/* Column styles for row1 */
.column11,
.column12,
.column13 {
    flex-basis: 25%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(23, 43, 56, 0.75);
    height: 500px;
    border-radius: 10px;
}

.column11:hover,
.column12:hover,
.column13:hover,
#column21:hover,
#column22:hover{
    background-color: rgba(23, 43, 100, 0.75);
}



.row2 {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin: 40px;
}

/* Column styles for row2 */
#column21,
#column22 {
    flex-basis: 45%;
    margin-bottom: 20px;
    height: 120px;
    background-color: rgba(23, 43, 56, 0.75);
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
}

{
    background-color: rgba(23, 43, 100, 0.75);
}

main li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 5px;
}

footer {
    background: lightcyan;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
}


/* FOOTER STYLE*/

#footText{
    display: inline-block;
    float: right;
    margin-right: 40px;
    margin-top: 15px;

}

#footText:hover{
    background-color: dimgray;
}